<div class="card">
    <div class="card-body">
        <div class="mb-4">
            <h1 *ngIf="!BranchData.id">
                <i class="fas fa-chevron-left align-self-center" (click)="helper.redirectTo('Branch')"></i>Add New
                Branch
            </h1>
            <h1 *ngIf="BranchData.id">
                <i class="fas fa-chevron-left align-self-center" (click)="helper.redirectTo('Branch')"></i>Edit
                Branch -
                {{BranchData.name}}
            </h1>
        </div>
        <p-tabView class="mt-3">
            <p-tabPanel header="InFo">
                <div class="mb-3" style="text-align: right">
                    <button routerLink="/BranchList" pButton pRipple icon="pi pi-times-circle" label="Cancel"
                        class="p-button-secondary me-3 mb-3"></button>
                    <button pButton pRipple icon="pi pi-check-circle" label="Save" class="p-button-success me-3 mb-3"
                        (click)="Save()" *ngIf="!BranchData.id"></button>
                    <button pButton pRipple icon="pi pi-check-circle" label="Update" class="p-button-success me-3 mb-3"
                        (click)="Save()" *ngIf="BranchData.id"></button>
                </div>
                <div class="row" [formGroup]="BranchForm">
                    <div class="col-lg-6 mb-3 form-group">
                        <label>Name<span style="color: red"> * </span></label>
                        <input type="text" formControlName="name" class="form-control" placeholder="Enter Name"
                            [(ngModel)]="BranchData.name" />
                        <app-validation propertyName="name" [MessageArray]="BranchValidationMessages"
                            [FormGroupName]="BranchForm"></app-validation>
                    </div>

                    <div class="col-lg-6 mb-3 form-group">
                        <label>Email<span style="color: red"> * </span></label>
                        <input type="text" formControlName="email" class="form-control" placeholder="Enter Email"
                            [(ngModel)]="BranchData.email" />
                        <app-validation propertyName="email" [MessageArray]="BranchValidationMessages"
                            [FormGroupName]="BranchForm"></app-validation>
                    </div>

                    <div class="col-lg-6 mb-3 form-group">
                        <label>Mobile</label>
                        <input type="text" formControlName="mobile" class="form-control" placeholder="Enter mobile"
                            [(ngModel)]="BranchData.mobile" />
                        <app-validation propertyName="mobile" [MessageArray]="BranchValidationMessages"
                            [FormGroupName]="BranchForm"></app-validation>
                    </div>

                    <div class="col-lg-6 mb-3 form-group">
                        <label>Adress<span style="color: red"> * </span></label>
                        <input type="text" formControlName="address" class="form-control" placeholder="Enter Adress"
                            [(ngModel)]="BranchData.address" />
                        <app-validation propertyName="address" [MessageArray]="BranchValidationMessages"
                            [FormGroupName]="BranchForm"></app-validation>
                    </div>
                    <div class="col-lg-6 form-group mb-3">
                        <label>Country<span style="color: red;"> * </span></label>
                        <p-dropdown appendTo="body" formControlName="country_id" optionLabel="name" optionValue="id"
                            [options]="CountryList" (onChange)="GetStateListByCountryId($event.value)"
                            placeholder="Select Country" [(ngModel)]="BranchData.country_id"></p-dropdown>
                        <app-validation propertyName="country_id" [MessageArray]="BranchValidationMessages"
                            [FormGroupName]="BranchForm"></app-validation>
                    </div>
                    <div class="col-lg-6 form-group mb-3">
                        <label>State/Tertiary<span style="color: red;"> * </span></label>
                        <p-dropdown appendTo="body" formControlName="state_id" optionLabel="name" optionValue="id"
                            [options]="StateList" (onChange)="GetCityListByStateId($event.value)"
                            placeholder="Select State/Tertiary" [(ngModel)]="BranchData.state_id"></p-dropdown>
                        <app-validation propertyName="state_id" [MessageArray]="BranchValidationMessages"
                            [FormGroupName]="BranchForm"></app-validation>
                    </div>
                    <div class="col-lg-6 form-group mb-3">
                        <label>City<span style="color: red;"> * </span></label>
                        <p-dropdown appendTo="body" formControlName="city_id" optionLabel="name" optionValue="id"
                            [options]="CityList" placeholder="Select City"
                            [(ngModel)]="BranchData.city_id"></p-dropdown>
                        <app-validation propertyName="city_id" [MessageArray]="BranchValidationMessages"
                            [FormGroupName]="BranchForm"></app-validation>
                    </div>


                    <div class="col-lg-6 mb-3 form-group">
                        <label>ZipCode</label>
                        <input type="text" formControlName="postal_code" class="form-control"
                            placeholder="Enter ZipCode" [(ngModel)]="BranchData.postal_code" />
                        <app-validation propertyName="postal_code" [MessageArray]="BranchValidationMessages"
                            [FormGroupName]="BranchForm"></app-validation>
                    </div>
                </div>
            </p-tabPanel>

            <p-tabPanel header="Camera Settings" *ngIf="BranchData.id">
                <div class="mb-3" style="text-align: right">
                    <button pButton pRipple icon="pi pi-plus-circle" label="Add New Camera Setting"
                        class="btn btn-primary" (click)="CreateCameraSetting(0)"></button>
                </div>
                <p-table responsive="true" #dt [value]="CameraSettingList"
                    [globalFilterFields]="['camera_name','camera_ip','mobile']" sortMode="multiple"
                    [multiSortMeta]="[{ field: 'name', order: 1 }]" [paginator]="true"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rows]="10"
                    [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-striped">
                    <ng-template pTemplate="caption">
                        <div class="d-flex flex-row flex-wrap justify-content-between align-items-center py-2">
                            <span> List of Camera Settings</span>
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" placeholder="Search"
                                    (input)="dt.filterGlobal($event.target.value, 'contains')" />
                            </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th pSortableColumn="camera_name">
                                Camera Name
                                <p-sortIcon field="camera_name"></p-sortIcon>
                            </th>
                            <th pSortableColumn="camera_ip">
                                Camera URL
                                <p-sortIcon field="camera_ip"></p-sortIcon>
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData>
                        <tr>
                            <td>
                                <span class="p-column-title">Name : </span>{{rowData.camera_name}}
                            </td>
                            <td>
                                <span class="p-column-title">IP : </span>{{rowData.camera_ip}}
                            </td>
                            <td>
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-primary m-2"
                                    (click)="CreateCameraSetting(rowData.id)"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-tabPanel>
        </p-tabView>
    </div>
    <p-confirmDialog header="Confirmation" [baseZIndex]="10000"
        rejectButtonStyleClass="p-button-text"></p-confirmDialog>
</div>



<p-dialog [closable]="false" [breakpoints]="{ '960px': '75vw', '640px': '100vw' }" [modal]="true" [draggable]="false"
    [resizable]="false" [(visible)]="CameraSettingDialog" [style]="{ width: '50%' }" *ngIf="CameraSettingDialog">
    <p-header>
        {{CameraSettingData?.id ? 'Edit Camera Setting - ': 'Add New Camera Setting' }} {{CityData?.name}}
    </p-header>
    <div class="row" [formGroup]="CameraSettingForm">
        <div class="col-lg-6 mb-3 form-group">
            <label>Camera Name<span style="color: red"> * </span></label>
            <input type="text" formControlName="camera_name" class="form-control" placeholder="Enter camera name"
                [(ngModel)]="CameraSettingData.camera_name" />
            <app-validation propertyName="camera_name" [MessageArray]="CameraSettingValidationMessages"
                [FormGroupName]="CameraSettingForm"></app-validation>
        </div>
        <div class="col-lg-6 mb-3 form-group">
            <label>Camera URL<span style="color: red"> * </span></label>
            <input type="text" formControlName="camera_ip" class="form-control" placeholder="Enter camera URL"
                [(ngModel)]="CameraSettingData.camera_ip" />
            <app-validation propertyName="camera_ip" [MessageArray]="CameraSettingValidationMessages"
                [FormGroupName]="CameraSettingForm"></app-validation>
        </div>
    </div>
    <p-footer>
        <div style="text-align: right" class="mt-3">
            <button pButton pRipple icon="pi pi-times-circle" label="Cancel" class="p-button-secondary me-3 mb-3"
                (click)="CloseDialouge()"></button>
            <button pButton pRipple icon="pi pi-check-circle" label="Save" class="p-button-success me-3 mb-3"
                *ngIf="!CameraSettingData.id" (click)="SaveCameraSettings()"></button>
            <button pButton pRipple icon="pi pi-check-circle" label="Update" class="p-button-success me-3 mb-3"
                *ngIf="CameraSettingData.id" (click)="SaveCameraSettings()"></button>
        </div>
    </p-footer>


</p-dialog>