<div class="card">
    <div class="card-body">
        <div class="mb-4">
            <h1 *ngIf="QualificationData.id">
                <i class="fas fa-chevron-left align-self-center"
                    (click)="helper.redirectTo('QualificationList')"></i>Edit {{QualificationData.degree}}
            </h1>
            <h1 *ngIf="!QualificationData.id">
                <i class="fas fa-chevron-left align-self-center" (click)="helper.redirectTo('QualificationList')"></i>
                Add New Qualification
            </h1>
        </div>


        <div class="row" [formGroup]="QualificationForm">
            <div class="mb-3" style="text-align: right;">
                <button routerLink="/QualificationList" pButton pRipple icon="pi pi-times-circle" label="Cancel"
                    (click)="CloseDialouge()" class="p-button-secondary me-3 mb-3"></button>
                <button pButton pRipple icon="pi pi-check-circle" label="Save" (click)="Save()"
                    class="p-button-success me-3 mb-3"></button>
            </div>
            <div class="col-lg-6 form-group">
                <label>Degree<span style="color: red;"> * </span></label>
                <p-dropdown appendTo="body" formControlName="degree" optionLabel="name" optionValue="id" [filter]="true" [options]="DegreeList"
                    placeholder="Select Degree" [(ngModel)]="QualificationData.degree"></p-dropdown>
                <app-validation propertyName="degree" [MessageArray]="QualificationValidationMessages"
                    [FormGroupName]="QualificationForm"></app-validation>

            </div>

            <div class="col-lg-6 form-group">
                <label>Specilization<span style="color: red;"> * </span></label>
                <input type="text" class="form-control" placeholder="Enter Specilization"
                    formControlName="specialization" [(ngModel)]="QualificationData.specialization" />
                <app-validation propertyName="specialization" [MessageArray]="QualificationValidationMessages"
                    [FormGroupName]="QualificationForm"></app-validation>
            </div>
        </div>
    </div>
</div>