<div class="card">
    <div class="card-body">
        <div>
            <h1 *ngIf="ParentId != '0'">
                <i class="fas fa-chevron-left align-self-center me-2" (click)="helper.redirectTo('ParentList')"></i>Edit
                Parent -
                {{ParentData.first_name + ' '+ ParentData.last_name}}
            </h1>

            <h1 *ngIf="ParentId == '0'">
                <i class="fas fa-chevron-left align-self-center me-2" (click)="helper.redirectTo('ParentList')"></i>
                Add New Parent
            </h1>
        </div>

        <div>
            <hr />

            <!-- <div class="row" [formGroup]="parentForm"> -->
            <div class="mb-3" style="text-align: right">
                <button routerLink="/ParentList" pButton pRipple icon="pi pi-times-circle" label="Cancel"
                    class="p-button-secondary me-3 mb-3"></button>
                <button pButton pRipple icon="pi pi-check-circle" label="Save" class="p-button-success me-3 mb-3"
                    (click)="Save()"></button>
            </div>

            <div class="row" [formGroup]="parentForm">
                <div class="col-sm-4 form-group mb-3">
                    <label>First Name<span style="color: red"> * </span></label>
                    <input type="text" class="form-control" placeholder="Enter First Name" formControlName="first_name"
                        [(ngModel)]="ParentData.first_name" />
                    <app-validation propertyName="first_name" [MessageArray]="parentValidationMessages"
                        [FormGroupName]="parentForm"></app-validation>
                </div>

                <div class="col-sm-4 form-group mb-3">
                    <label>Last name</label>
                    <input type="text" class="form-control" placeholder="Enter Last Name" formControlName="last_name"
                        [(ngModel)]="ParentData.last_name" />
                    <app-validation propertyName="last_name" [MessageArray]="parentValidationMessages"
                        [FormGroupName]="parentForm"></app-validation>
                </div>

                <div class="col-sm-4 form-group mb-3">
                    <label>Gender<span style="color: red"> * </span></label>
                    <p-dropdown appendTo="body" formControlName="gender" optionLabel="name" optionValue="id"
                        [options]="GenderDropdownList" placeholder="Select Gender"
                        [(ngModel)]="ParentData.gender"></p-dropdown>
                    <app-validation propertyName="gender" [MessageArray]="parentValidationMessages"
                        [FormGroupName]="parentForm"></app-validation>
                </div>

                <div class="col-sm-4 form-group mb-3">
                    <label>Relationship<span style="color: red"> * </span></label>
                    <p-dropdown appendTo="body" formControlName="relation_ship_type" optionLabel="name" optionValue="id"
                        [options]="RelationshipList" placeholder="Select Relationship"
                        [(ngModel)]="ParentData.relation_ship_type"></p-dropdown>
                    <app-validation propertyName="relation_ship_type" [MessageArray]="parentValidationMessages"
                        [FormGroupName]="parentForm"></app-validation>
                </div>

                <div class="col-sm-4 form-group mb-3">
                    <label>Email<span style="color: red"> * </span></label>
                    <input type="email" placeholder="Enter Email" formControlName="email" class="form-control"
                        placeholder="Select Email" [(ngModel)]="ParentData.email" />
                    <app-validation propertyName="email" [MessageArray]="parentValidationMessages"
                        [FormGroupName]="parentForm"></app-validation>
                </div>

                <div class="col-sm-4 form-group mb-3">
                    <label>Mobile<span style="color: red"> * </span></label>
                    <input type="tel" placeholder="Enter Mobile Number" formControlName="mobile"
                        class="form-control d-block w-100 ronded mb-1" [(ngModel)]="ParentData.mobile" />
                    <app-validation propertyName="mobile" [MessageArray]="parentValidationMessages"
                        [FormGroupName]="parentForm"></app-validation>
                </div>

                <div class="col-sm-4 form-group mb-3">
                    <label>Address<span style="color: red"> * </span></label>
                    <input type="text" class="form-control" placeholder="Enter Address" formControlName="address"
                        placeholder="Select Address" [(ngModel)]="ParentData.address" />
                    <app-validation propertyName="address" [MessageArray]="parentValidationMessages"
                        [FormGroupName]="parentForm"></app-validation>
                </div>
                <div class="col-sm-4 form-group mb-3" *ngIf="!ParentData.id">
                    <label>Password<span style="color: red"> * </span></label>
                    <input type="text" class="form-control" placeholder="Enter Address" formControlName="password"
                        placeholder="Select Password" [(ngModel)]="ParentData.password" />
                    <app-validation propertyName="password" [MessageArray]="parentValidationMessages"
                        [FormGroupName]="parentForm"></app-validation>
                </div>

                <div class="col-sm-4 form-group mb-3">
                    <label>Country<span style="color: red"> * </span></label>
                    <p-dropdown appendTo="body" formControlName="country_id" optionLabel="name" optionValue="id"
                        placeholder="Select Country" [options]="CountryList" [(ngModel)]="ParentData.country_id"
                        (onChange)="GetStateListByCountryId($event.value)"></p-dropdown>
                    <app-validation propertyName="country_id" [MessageArray]="parentValidationMessages"
                        [FormGroupName]="parentForm"></app-validation>
                </div>

                <div class="col-sm-4 form-group mb-3">
                    <label>State<span style="color: red"> * </span></label>
                    <p-dropdown appendTo="body" formControlName="state_id" optionLabel="name" optionValue="id"
                        [options]="StateList" placeholder="Select State" [(ngModel)]="ParentData.state_id"
                        (onChange)="GetCityListByStateId($event.value)"></p-dropdown>
                    <app-validation propertyName="state_id" [MessageArray]="parentValidationMessages"
                        [FormGroupName]="parentForm"></app-validation>
                </div>

                <div class="col-sm-4 form-group mb-3">
                    <label>City<span style="color: red"> * </span></label>
                    <p-dropdown appendTo="body" formControlName="city_id" optionLabel="name" optionValue="id"
                        [options]="CityList" placeholder="Select City" [(ngModel)]="ParentData.city_id"></p-dropdown>
                    <app-validation propertyName="city_id" [MessageArray]="parentValidationMessages"
                        [FormGroupName]="parentForm"></app-validation>
                </div>

                <div class="col-sm-4 form-group mb-3">
                    <label>Zipcode<span style="color: red"> * </span></label>
                    <input type="text" numeric class="form-control" placeholder="Enter Zipcode"
                        formControlName="zip_code" [(ngModel)]="ParentData.zip_code" />
                    <app-validation propertyName="zip_code" [MessageArray]="parentValidationMessages"
                        [FormGroupName]="parentForm"></app-validation>
                </div>
            </div>

            <div class="col mt-2">
                <div class="card-header" style="background-color:#4d9ce0;padding:10px;color:#fff" id="headingOne">
                    <div class="d-flex flex-row flex-wrap justify-content-between align-items-center">
                        <h5 class="m-0 text-white">
                            <label><span class="text-info" pTooltip="Can select only one role for the user"
                                    tooltipPosition="top"><i class="fa fa-info-circle text-white"></i></span>Select a
                                Child </label>
                        </h5>
                        <button pButton pRipple icon="pi pi-undo mr-2" label="Clear" class="p-button-danger mr-2"
                            (click)="ClearSeletectedChilds()"></button>
                    </div>
                </div>
                <p-card>
                    <div class="row mt-0">
                        <div class="">
                            <div class="col-12 mb-4">
                                <input type="text" class="form-control" placeholder="Search by Child Number and Name"
                                    (input)="dtqc.filterGlobal($event.target.value, 'contains')">
                            </div>
                            <p-table [value]="Childrenlist" #dtqc
                                [globalFilterFields]="['first_name','last_name','student_number']"
                                selectionMode="single" responsiveLayout="scroll" [responsive]="true"
                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
                                styleClass="p-datatable-striped" [(selection)]="SelectedChildId"
                                (onRowSelect)="SelectedChildChangeEvent($event,true)"
                                (onRowUnselect)="SelectedChildChangeEvent($event,false)" [paginator]="true">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>
                                            Select
                                        </th>
                                        <th>Child Number</th>
                                        <th>Child Name</th>
                                        <th>Date Of Birth</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData>
                                    <ng-container>
                                        <tr>
                                            <td>
                                                <p-tableCheckbox [value]="rowData.id"></p-tableCheckbox>
                                            </td>
                                            <td><span class="p-column-title">Child Number :
                                                </span>{{rowData.student_number}}</td>
                                            <td><span class="p-column-title">Child :
                                                </span>{{rowData.first_name + '
                                                '
                                                +rowData.last_name}}</td>
                                            <td><span class="p-column-title">Date Of Birth :
                                                </span>{{rowData.date_of_birth | date: 'dd-MMM-yyyy'}}</td>

                                        </tr>
                                    </ng-container>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </p-card>
            </div>
        </div>
    </div>
</div>
<p-confirmDialog header="Confirmation" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
<!-- </div> -->