<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Fabric Budget List</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="rounded-10 mb-3 p-2" style="border: 1px solid #C6C3FB;" *ngFor="let budget of budgetList">
    <div class="d-flex flex-row align-items-center justify-content-between mb-2">
      <span class="text-sub-title">Req No.</span>
      <span class="flex-grow-1 mx-3 dotted-line"></span>
      <span class="text-title">{{budget.reqNo}}</span>
    </div>
    <div class="d-flex flex-row align-items-center justify-content-between mb-2">
      <span class="text-sub-title">Red Date</span>
      <span class="flex-grow-1 mx-3 dotted-line"></span>
      <span class="text-title">{{budget.reqDt | date:'dd/MM/YYYY'}}</span>
    </div>
    <div class="d-flex flex-row align-items-center justify-content-between mb-2">
      <span class="text-sub-title">Trans No.</span>
      <span class="flex-grow-1 mx-3 dotted-line"></span>
      <span class="text-title">{{budget.txnNo }}</span>
    </div>
    <div class="d-flex flex-row align-items-center justify-content-between mb-2">
      <span class="text-sub-title">Reference</span>
      <span class="flex-grow-1 mx-3 dotted-line"></span>
      <span class="text-title">{{budget.reference }}</span>
    </div>
    <div class="d-flex flex-row align-items-center justify-content-between mb-2">
      <span class="text-sub-title">Requisitioner</span>
      <span class="flex-grow-1 mx-3 dotted-line"></span>
      <span class="text-title">{{budget.requisitioner }}</span>
    </div>
    <div class="d-flex flex-row justify-content-between align-items-center">
      <ion-icon slot="icon-only" src="../../assets/images/pdf-file.svg" class="fs-1" (click)="openPDF()"></ion-icon>
      <div>
        <ion-button color="primary" (click)="openAppOrRejModal(budget.pId)">
          Action
        </ion-button>
      </div>
    </div>
  </div>
  <ion-modal [isOpen]="isModalOpen" [initialBreakpoint]="1" [breakpoints]="[0, 0.25, 0.5, 0.75]" handleBehavior="cycle">
    <ng-template>
      <div class="p-3" [formGroup]="CommendForm">
        <div class="mt-2 mb-2" style="text-align: center;">
          <ion-radio-group formControlName="approvalStatus" [(ngModel)]="ApprovData.approvalStatus">
            <ion-radio value="A" labelPlacement="end"><span style="color: green;">Approve</span></ion-radio>
            <ion-radio value="D" labelPlacement="end" class="ms-4"><span style="color: red;">Reject</span></ion-radio>
          </ion-radio-group>
        </div>
        <div class="mb-3" [formGroup]="CommendForm">
          <ion-icon src="../../assets/images/edit_note_black_24dp 1.svg" class="align-middle fs-3"></ion-icon>
          <label class="mb-2 ms-1" style="color: #848A94;">Remarks</label>
          <textarea class="cus-form-control" formControlName="approvalComments"
            [(ngModel)]="ApprovData.approvalComments"></textarea>
          <div
            *ngIf="fc['approvalComments'].errors && (fc['approvalComments'].touched || fc['approvalComments'].dirty)">
            <small *ngIf="fc['approvalComments'].errors['required']"><ion-text color="danger">Please
                enter Remarks.</ion-text></small>
          </div>
        </div>
        <div>
          <ion-button color="primary" expand="block" class="mb-4" (click)="Approval()">Submit</ion-button>
        </div>
        <div class="text-center">
          <ion-button color="primary" class="ion-rounded-btn w-40 h-40" (click)="isModalOpen = false;">
            <ion-icon slot="icon-only" name="close-outline" class="fs-4"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>