<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="login-container" [formGroup]="UserForm">
        <div class="text-center">
            <img src="../../assets/images/stepgrouplogo.png" width="200" height="150">
        </div>
        <h3 class="text-center mt-4 mb-3">Sign in</h3>
        <div class="col-12 form-group">
            <label>Email</label>
            <input type="email" placeholder="Enter Email" formControlName="email"
                class="form-control d-block w-100 ronded my-2" [(ngModel)]="User.email" autocomplete="false">
            <app-validation propertyName="email" [MessageArray]="LoginValidationMessages"
                [FormGroupName]="UserForm"></app-validation>
        </div>
        <div class="col-12 form-group">
            <label>Password</label>
                <p-password [feedback]="false" autocomplete="password" placeholder="Enter Password"
                formControlName="password" styleClass="w-100"
                [(ngModel)]="User.password"></p-password>
            <app-validation propertyName="password" [MessageArray]="LoginValidationMessages"
                [FormGroupName]="UserForm"></app-validation>
        </div>
        <div class="mb-4">
            <a [routerLink]="['/Forgot']" class="">Forgot it?</a>
        </div>
        <button class="btn btn-primary btn-block btn-lg rounded-pill w-100" (click)="Login()">Sign in</button>
    </div>
</div>
<p-confirmDialog header="Confirmation" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>