<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="booking">
      <ion-icon name="bookmarks-outline"></ion-icon>
      <ion-label>Booking</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="profile">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button> -->

    <ion-tab-button>
      <ion-icon id="open-action-sheet" name="person-outline" (click)="presentActionSheet()"></ion-icon>Actions
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
<ion-alert
  #logoutAlert
  header="Logout?"
  message="Are you sure you want to logout"
  [buttons]="alertButtons"
></ion-alert>
