
<ion-content [fullscreen]="true">
    <div class="custom-container">
        <div class="ion-text-center">
          <img src="../../assets/images/pco-hire-logo.png" >
        </div>
        <h1 class="custom-title">Change Password</h1>
        <form [formGroup]="changepasswordForm">
        <div class="custom-input-container">
          <ion-item mode="ios" class="password-ip-item">
            <ion-input formControlName="old_password" labelPlacement="floating" placeholder="Enter Password" type="Old Password">
              <div slot="label">Old Password <ion-text color="danger">*</ion-text></div>
            </ion-input>
            <ion-button slot="end" fill="clear" (click)="togglePasswordVisibility($event)">
              <ion-icon slot="icon-only" name="eye-outline"></ion-icon>
            </ion-button>
          </ion-item>
          <div *ngIf="fc['old_password'].errors && (fc['old_password'].touched || fc['old_password'].dirty)">
            <small *ngIf="fc['old_password'].errors['required']"><ion-text color="danger">Please enter old password.</ion-text></small>
            <small *ngIf="fc['old_password'].errors['minlength']"><ion-text color="danger">At least 6 characters, but longer is better.</ion-text></small>
          </div>
        </div>
          <div class="custom-input-container">
            <ion-item mode="ios" class="password-ip-item">
              <ion-input formControlName="password" labelPlacement="floating" placeholder="Enter password" type="New password">
                <div slot="label">New Password <ion-text color="danger">*</ion-text></div>
              </ion-input>
              <ion-button slot="end" fill="clear" (click)="togglePasswordVisibility($event)">
                <ion-icon slot="icon-only" name="eye-outline"></ion-icon>
              </ion-button>
            </ion-item>
            <div *ngIf="fc['password'].errors && (fc['password'].touched || fc['password'].dirty)">
              <small *ngIf="fc['password'].errors['required']"><ion-text color="danger">Please enter New password.</ion-text></small>
              <small *ngIf="fc['password'].errors['minlength']"><ion-text color="danger">At least 6 characters, but longer is better.</ion-text></small>
            </div>
          </div>
          <div class="custom-input-container">
            <ion-item mode="ios" class="password-ip-item">
              <ion-input formControlName="confirm_password" labelPlacement="floating" placeholder="Enter password" type="Confirm password">
                <div slot="label">Confirm Password <ion-text color="danger">*</ion-text></div>
              </ion-input>
              <ion-button slot="end" fill="clear" (click)="togglePasswordVisibility($event)">
                <ion-icon slot="icon-only" name="eye-outline"></ion-icon>
              </ion-button>
            </ion-item>
            <div *ngIf="fc['confirm_password'].errors && (fc['confirm_password'].touched || fc['confirm_password'].dirty)">
              <small *ngIf="fc['confirm_password'].errors['required']"><ion-text color="danger">Please enter Confirm password.</ion-text></small>
              <small *ngIf="fc['confirm_password'].errors['minlength']"><ion-text color="danger">At least 6 characters, but longer is better.</ion-text></small>
            </div>
          </div>
          <ion-button expand="block" class="ion-no-margin" (click)="ChangePassword()">Submit</ion-button>
        </form>
        <!-- <div class="custom-link-container">
            <span></span>
            <ion-text color="primary" style="font-size: 16px;" color="#000" routerLink="/login">
               Back to Login
            </ion-text>
        </div> -->
    </div>
  </ion-content>
  
  