.custom-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    min-width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .custom-title {
    font-size: 20px;
    text-align: center;
  }
  
  .custom-logo {
    text-align: center;
  }
  
  .custom-logo img {
    width: 300px;
    height: 100px;
  }
  
  .custom-input-container {
    margin-bottom: 20px;
  }
  
  .password-ip-item {
    border-radius: 10px;
  }
  
  .custom-icon {
    font-size: 17px;
    color: #000;
    font-weight: 900;
  }
  
  .custom-detail-text {
    font-size: 13px;
    color: #000;
    font-weight: 900;
  }
  
  .custom-submit-button {
    margin-top: 10px;
  }
  
  .custom-back-link {
    font-size: 16px;
    color: #000;
    text-align: center;
  }
  
  .custom-avatar-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  