<div class="card">
    <div class="card-body">
        <div>
            <h1>
                User
            </h1>
        </div>
        <div class="mb-3" style="text-align: right;">
            <button pButton pripple icon="pi pi-plus-circle" label=" Add New User" class="btn btn-primary me-3 mb-3"
                (click)="CreateUser('0')"></button>
        </div>
        <p-table [responsive]="true" #dt
            [globalFilterFields]="['user_role.name','first_name','last_name','email','mobile']" sortMode="multiple"
            [multiSortMeta]="[{ field: 'user_role.name', order: 1 }, { field: 'first_name', order: 1 }, { field: 'last_name', order: 1 }, { field: 'email', order: 1 }, { field: 'mobile', order: 1 }]"
            [value]="userlist" [paginator]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rows]="10"
            [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-striped">
            <ng-template pTemplate="caption">
                <div class="d-flex flex-row flex-wrap justify-content-between align-items-center py-2">
                    <span> List of User</span>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" placeholder="Search"
                            (input)="dt.filterGlobal($event.target.value, 'contains')" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th>
                        Status
                    </th>
                    <th pSortableColumn="user_role.name">
                        Role
                        <p-sortIcon field="user_role.name"></p-sortIcon>
                    </th>
                    <th pSortableColumn="first_name">
                        First name
                        <p-sortIcon field="first_name"></p-sortIcon>
                    </th>
                    <th pSortableColumn="last_name">
                        Last name
                        <p-sortIcon field="last_name"></p-sortIcon>
                    </th>
                    <th pSortableColumn="email">
                        Email
                        <p-sortIcon field="email"></p-sortIcon>
                    </th>
                    <th pSortableColumn="mobile">
                        Mobile
                        <p-sortIcon field="mobile"></p-sortIcon>
                    </th>
                    <th pSortableColumn="vehicle_type_name">
                        Action
                        <p-sortIcon field="vehicle_type_name"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr>
                    <td>
                        <span class="badge bg-success" *ngIf="rowData.status">Active</span>
                        <span class="badge bg-danger" *ngIf="!rowData.status">Suspend</span>
                    </td>
                    <td>
                        <span class="p-column-title">Role : </span>{{rowData.user_role.name}}
                    </td>
                    <td>
                        <span class="p-column-title"> First name : </span>{{rowData.first_name}}
                    </td>
                    <td>
                        <span class="p-column-title">Last name : </span>{{rowData.last_name}}
                    </td>
                    <td>
                        <span class="p-column-title">Email : </span>{{rowData.email}}
                    </td>
                    <td>
                        <span class="p-column-title">Mobile : </span>{{rowData.mobile}}
                    </td>
                    <td>
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-primary m-2"
                            (click)="CreateUser(rowData.id)"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<p-confirmDialog header="Confirmation" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>