<div style="text-align: center;">
    <img src="../../assets/images/ic-insurance-logo.jpg" style="height: 100px;">
    <br/>
    <br/>
    <img src="../../assets/images/404_page_not_found.png" width="auto" style="width:20%;max-height: 50%;max-width: 50%;">
    <br/>
    <br/>
    <h2>The page you tried to visit doesn't exist</h2>
    <span>This is usually caused by an incorrect or outdated link.</span>
    <br>
    <span>Back to <a style="text-decoration: none;" href="/AdminDashboard">Admin Dashboard</a></span>
</div>