<div class="card">
    <div class="card-body">
        <div>
            <h1>
                Qualification List
            </h1>
        </div>
        <div class="mb-3" style="text-align: right;">
            <button pButton pRipple icon="pi pi-plus-circle" label="Add New Qualification" class="btn btn-primary"
                (click)="EditQualification('0')"></button>
        </div>
        <p-table responsive="true" [value]="QualificationList" #dt [globalFilterFields]="['degree','specification']" sortMode="multiple"
            [multiSortMeta]="[{ field: 'degree', order: 1 }, { field: 'specification', order: 1 }]" [paginator]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rows]="10"
            [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-striped">
            <ng-template pTemplate="caption">
                <div class="d-flex flex-row flex-wrap justify-content-between align-items-center py-2">
                    <span> List of Qualification</span>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" placeholder="Search"
                            (input)="dt.filterGlobal($event.target.value, 'contains')" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th pSortableColumn="degree">
                        Degree
                        <p-sortIcon field="degree"></p-sortIcon>
                    </th>
                    <th pSortableColumn="specification">
                        Specification
                        <p-sortIcon field="specification"></p-sortIcon>
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr>
                    <td>
                        <span class="p-column-title">Degree : </span>{{rowData.degree}}
                    </td>
                    <td>
                        <span class="p-column-title">Specification : </span>{{rowData.specialization}}
                    </td>
                    <td>
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-primary m-2"
                            (click)="EditQualification(rowData.id)"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger m-2"
                            (click)="DeleteQualification(rowData.id,rowData.degree)"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<p-confirmDialog header="Confirmation" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>