<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="login-container" [formGroup]="UserForm">
        <div class="text-center">
            <img src="../../assets/images/ic-insurance-logo.jpg" width="auto" height="100">
        </div>
        <h3 class="text-center mt-4 mb-3">Forgot Your Password?</h3>
        <br />
        <span>Enter your email address and we’ll send you instructions on how to reset your password.</span>
        <div class="d-flex justify-content-center align-items-center">
            <input type="email" placeholder="Email" formControlName="email" name="email"
                class="form-control d-block w-50 ronded my-2" [(ngModel)]="email">
            <app-validation propertyName="email" [MessageArray]="ForgetPasswordValidationMessages"
                [FormGroupName]="UserForm"></app-validation>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <button class="btn btn-primary btn-block btn-lg rounded-pill w-50" (click)="ForgotPassword()">Send Reset
                instructions</button>
        </div>
        <div class="mt-4" style="text-align: center;">
            <a [routerLink]="['/Login']" class="">Do you have a account already? Sign in now.</a>
        </div>
    </div>

</div>