<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class>
      <div class="text-title text-center">Sign Up</div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding-start-14 ion-padding-end-14 px-4">
  <div class="content-container d-flex flex-column min-vh-100 py-4 mx-auto">
    <div class="flex-grow-1 mb-5">
      <div class="d-flex flex-row align-items-center mb-5">
        <div class="flex-grow-1">
          <h1 class="text-title mt-0 mb-2">Account Setup</h1>
          <p class="text-sub-title small">Enter your information to setup the account</p>
        </div>
        <div>
          <img src="../../assets/icon/icon.png" width="120">
        </div>
      </div>
      <div class="sign-in-form mx-auto">
        <div class="mb-4">
          <input class="cus-form-control" [(ngModel)]="SignupData.server_name" placeholder="Server Name" type="text">
          <div
          *ngIf="fc['server_name'].errors && (fc['server_name'].touched || fc['server_name'].dirty)">
          <small *ngIf="fc['server_name'].errors['required']"><ion-text color="danger">Server Name cannot be blank.</ion-text></small>
        </div>
        </div>
        <div class="mb-4">
          <input class="cus-form-control" [(ngModel)]="SignupData.mobileNo" placeholder="Mobile No" type="text">
          <div
          *ngIf="fc['mobileNo'].errors && (fc['mobileNo'].touched || fc['mobileNo'].dirty)">
          <small *ngIf="fc['mobileNo'].errors['required']"><ion-text color="danger">Mobile Number cannot be blank.</ion-text></small>
        </div>
        </div>
        <div class="mb-4">
          <input class="cus-form-control" [(ngModel)]="SignupData.loginName" placeholder="User Name" type="text">
          <div
          *ngIf="fc['loginName'].errors && (fc['loginName'].touched || fc['loginName'].dirty)">
          <small *ngIf="fc['loginName'].errors['required']"><ion-text color="danger">User Name cannot be blank.</ion-text></small>
        </div>
        </div>
        <ion-button expand="block" color="primary" (click)="Signup()">Submit</ion-button>
      </div>
    </div>
  </div>
  <!-- <ion-icon name="mail-outline"></ion-icon>
  <ion-icon name="accessibility-outline"></ion-icon>
  <ion-icon name="heart"></ion-icon> -->
</ion-content>