<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding mt-4">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-accordion-group>
    <ion-accordion toggleIconSlot="start" class="mb-4">
      <ion-item slot="header" color="red"
        style="background: #3E4095;border-top-right-radius: 10px;border-top-left-radius: 10px;">
        <div class="col-12 row">
          <div class="col-6">
            <span style="color: white; font-weight: 600;">Approvals</span>
          </div>
          <div class="col-6" style="text-align: end;">
            <span style="color: white;">{{TotalNoOfRowsApproved }}</span>
          </div>
        </div>
      </ion-item>
      <div class="" slot="content">
        <div class="text-white" style="border-radius: 10px;">
          <div
            style="background-color: rgba(102, 159, 255, 0.28);border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;">
            <div class="p-3" *ngFor="let approval of ApprovalList">
              <div (click)="Budget(approval.type)"
                class="d-flex flex-row align-items-center justify-content-between mb-2 text-black cursor-pointer">
                <span>{{approval.type}}</span>
                <span class="flex-grow-1 mx-3 dotted-line"></span>
                <span>{{approval.noofRows}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ion-accordion>
    <ion-accordion toggleIconSlot="start">
      <ion-item slot="header" color="red"
        style="background: #3E4095;border-top-right-radius: 10px;border-top-left-radius: 10px;">
        <div class="col-12 row">
          <div class="col-6">
            <span style="color: white;font-weight: 600; ">Notification</span>
          </div>
          <div class="col-6" style="text-align: end;">
            <span style="color: white;">{{TotalNoOfRowsNotification}}</span>
          </div>
        </div>
      </ion-item>
      <div class="" slot="content">
        <div class="text-white" style="border-radius: 10px;">
          <div
            style="background-color: rgba(102, 159, 255, 0.28);border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;">
            <div class="p-3" *ngFor="let notification of NotificationList">
              <div (click)="NotificationRedirect(notification.type)"
                class="d-flex flex-row align-items-center justify-content-between mb-2 text-black">
                <span>{{notification.type}} </span>
                <span class="flex-grow-1 mx-3 dotted-line"></span>
                <span>{{notification.noofRows}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
<ion-tab-bar slot="bottom" class="ion-no-border" style="--border: none;">
  <ion-tab-button tab="dashboard" href="/dashboard">
    <ion-icon aria-hidden="true" name="speedometer-outline"></ion-icon>
    <ion-label>Dashboard</ion-label>
  </ion-tab-button>
  <ion-tab-button>
    <img src="../../assets/icon/icon.png">
  </ion-tab-button>
  <ion-tab-button tab="profile" href="/profile">
    <ion-icon aria-hidden="true" name="person-circle-outline"></ion-icon>
    <ion-label routerLink="/profile">Profile</ion-label>
  </ion-tab-button>
</ion-tab-bar>